#body {
    position: relative;
}


#popdiv {
    position: fixed;
    width: 30rem;
    height: 50rem;
    top: 22rem;
    left: 50rem;
    display: none;
}

#popcontent {
    position: relative;


}

#close {
    position: absolute;
    top: -22px;
    right: -24px;
    font-size: 2rem;

}

#close:hover {
    font-size: 3rem;
    cursor: pointer;
}