<div class="card card-bordered card-preview card-full">
    <div class="nk-ecwg nk-ecwg8 h-100">

        <div class="card-inner">
            <div class="card-title-group mb-2">
                <div class="card-title">
                    <h6 class="title">Customer Statistics</h6>
                </div>
            </div>
            <ul class="nk-store-statistics">
                <li class="item">
                    <div class="info">
                        <div class="title">Videos</div>
                        <div class="count">{{ score.no_videos }}</div>
                    </div>
                    <em class="icon bg-pink-dim ni ni-box"></em>
                </li>
                <li class="item">
                    <div class="info">
                        <div class="title">Cameras</div>
                        <div class="count">{{ score.no_cameras }}</div>
                    </div>
                    <em class="icon bg-primary-dim ni ni-bag"></em>
                </li>
                <li class="item">
                    <div class="info">
                        <div class="title">AI Models</div>
                        <div class="count">{{ score.no_models }}</div>
                    </div>
                    <em class="icon bg-info-dim ni ni-users"></em>
                </li>
                <li class="item">
                    <div class="info">
                        <div class="title">Events</div>
                        <div class="count">{{ score.no_events }}</div>
                    </div>
                    <em class="icon bg-pink-dim ni ni-box"></em>
                </li>

            </ul>
        </div>
    </div>
</div>