<div class="card card-full">
    <div class="nk-ecwg nk-ecwg8 h-100">
        <div class="card-inner">
            <div class="nk-sale-data-group align-center justify-between gy-3 gx-5">
                <div class="nk-sale-data">
                    <span class="amount">{{ score.no_events }} Events</span>
                </div>
                <div class="nk-sale-data">
                    <span class="amount sm">{{ score.no_videos }} <small>Videos</small></span>
                    <span class="amount sm">{{ score.no_cameras }} <small>Cameras</small></span>
                </div>
            </div>
            <div class="nk-sales-ck large pt-4">
                <canvas class="sales-overview-chart" id="salesOverview"></canvas>
            </div>
        </div>
    </div>
</div><!-- .card -->





